#container{
  /* text-align: center; */
  padding: 40px;
  height: 90vh;
  width: 500px;
  max-width: 80vw;
  border: 2px black solid;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
}

#title{
  font-family: "Lekton";
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  width: 20em;
}

#title h1{
  font-family: 'Lekton';
  font-size: 1.5em;
}

#list-input{
  border: none;
  width: 75%;
  /* display: flex; */
  margin-right: .5em;
  /* margin-bottom: 1em; */
  border: black 2px solid;
}

#button{
  border: none;
  border-radius: 50px;
}

#list-items{
  padding: 10px;
  border: black 2px solid;
}

#list-line{
  border: none;
  padding: 1em;
}

#list{
  margin-right: auto;
  margin-left: auto;
}

#input-group{
  margin-left: auto;
  margin-right: auto;
}