/* You can add global styles to this file, and also import other style files */
#edit{
  float: right;
}

#delete{
  float: right;
  padding-right: .5em;
  padding-left: .5em;
}

.strike{
  text-decoration-line:line-through;
}
html, body { height: 100%; }

body { margin: 0; font-family: 'Lekton', Roboto, "Helvetica Neue", sans-serif; }
